#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: BrickPrefab(
                brick: Brick(
                    width: 55.0,
                    height: 25.0,
                ),
                transform: (
                    translation: (80.0, 550.0, 0.0),
                ),
            )
        ),
        PrefabEntity(
            data: BrickPrefab(
                brick: Brick(
                    width: 60.0,
                    height: 30.0,
                ),
                transform: (
                    translation: (160.0, 550.0, 0.0),
                ),
            )
        ),
    ]
)
